<div class="weadmin-body">
    <div class="layui-card">
        <div class="layui-card-header"></div>
        <div class="layui-card-body">
            <div class="layui-row saerchToll">
                <button class="layui-btn " lay-event="add" onclick="WeAdminShow('添加分类','/admin/menu/add')">添加</button>
                <div class="layui-inline" style="margin-left:20px;">
                    <input class="layui-input" name="menu_title" id="srarchReload" placeholder="请输入标题"
                        autocomplete="off">
                </div>
                <button class="layui-btn" lay-event="search" data-type="reload">
                    <i class="layui-icon">&#xe615;</i> 搜索
                </button>
            </div>
            <table class="layui-hide" id="list" lay-filter="list"></table>
        </div>
    </div>

</div>
<!-- 工具栏 -->
<script type="text/html" id="toolbar">

</script>
<!-- 操作 -->
<script type="text/html" id="actionbar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="image">
    <!-- <img src="{{d.menu_litimg}}" alt="" sizes="" srcset=""> -->
</script>

<script type="text/javascript">
    layui.use(['table', 'treetable'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var treetable = layui.treetable;
        layer.load(2);
        treetable.render({
            treeColIndex: 1,
            treeSpid: 0,
            treeIdName: 'id',
            treePidName: 'parent_id',
            elem: '#list',
            url: '/static/admin/api/menus.json',
            icon: 'icon',
            page: false,
            cols: [[
                { type: 'numbers' },
                { field: 'title', minWidth: 200, title: '权限名称' },
                { field: 'permission', title: '权限标识' },
                { field: 'href', title: '菜单url' },
                { field: 'order', width: 80, align: 'center', title: '排序号' },
                {
                    fixed: 'right',
                    width: '15%',
                    align: 'center',
                    title: '操作',
                    toolbar: '#actionbar'
                },
            ]],

            done: function (res) {
                layer.closeAll('loading');
            }
        });
        //搜索
        active = {
            reload: function () {
                var srarchReload = $('#srarchReload').val(); //获取输入框的值
                table.reload('list', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        'menu_id': srarchReload
                    }, //这里传参  向后台
                    url: '/admin/menu/index', //后台做模糊搜索接口路径
                    method: 'post'
                });
            }
        };
        //搜索点击
        $('.saerchToll .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听行工具事件
        table.on('tool(list)', function (obj) {
            var data = obj.data;
            url = '/admin/menu/delete/' + data.id;
            var edit = '/admin/menu/edit/' + data.id;
            //删除
            if (obj.event === 'del') {
                layer.confirm('是否删除？', function (index) {
                    $.get(url, data.field).then(result => {
                        layer.alert(result.msg, {
                            icon: result.code + 1,
                            title: '提示信息'
                        }, function (index) {

                            // var index = parent.layer.getFrameIndex(window.name);
                            // console.log('TCL: index', index)
                            // //关闭当前frame
                            layer.close(index);

                            location.reload()

                        });
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                //编辑
                WeAdminShow('编辑内容', edit);
            }
        });
    });
</script>